*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-image: url(./images/bg-top.svg);
    background-repeat: no-repeat;
    background-position: top right;
    background-color: hsl(240, 7%, 92%);
    display: flex;
    justify-content: center;
}
h1{
    font-family: 'Montserrat' sans-serif;
    font-weight: 700;
    color: hsl(233, 13%, 49%);
    text-align: center;
}
main{
    width: 90%;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:30px;
}
.category-container{
    p{  
        font-weight: 600;
        color: hsl(234, 14%, 74%);
    }
    display: flex;
    align-items: center;
    gap: 20px;
}
.card-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}
.card{
    padding: 30px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    h2{
        color: hsl(233, 13%, 49%);
    }
    .price{
        display: flex;
        justify-content: center;
        align-items: center;
        color: hsl(230, 4%, 33%);
        font-size: 70px;
        font-family:  'Montserrat' sans-serif;
        font-weight: 900;
        span {
            font-size: 40px;
        }
    }
    p{
        color: hsl(233, 13%, 49%);
        font-size: 15px;
        font-weight: 600;
        text-align: center;
        width: 100%;
        border-bottom: 1px solid hsl(228, 7%, 87%);
        padding: 30px 0px;
    }
    button{
        font-weight: 600;
        color: white;
        width: 100%;
        border: none;
        margin-top: 30px;
        padding: 20px 0px;
        border-radius: 10px;
        background-image: linear-gradient(to left,hsl(237, 63%, 64%),hsl(236, 72%, 79%));
    }
   
}

.toggle-button{
    width: 58px;
    height: 30px;
    background-image: linear-gradient(to left,hsl(237, 63%, 64%),hsl(236, 72%, 79%));
    border-radius:50px;
    position: relative;
}
.toggle-button::after{
    position: absolute;
    right: 4%;
    top:8%;
    content: "";
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background-color: white;

}

.card:hover{
    background-image: linear-gradient(to left,hsl(237, 63%, 64%),hsl(236, 72%, 79%));
    h2,p{
        color: white;
    }
    button{
        background-image: none;
        color: hsl(237, 63%, 64%);
    }
}

@media (width >1024px) {
    .card-container{
        flex-direction: row;
    }
    .card{
        margin-top: 100px;
        width: 400px;
        transition: all .1s linear;
    }
    .card:hover{
        scale: 1.1;
    }
    
}
